{% extends 'admin/change_list.html' %}
{% load i18n %}

{% block result_list %}
<table class="admin-list-table">
    <thead>
        <tr>
            <th>Booking Details</th>
            <th>Guests</th>
            <th>Payment Due</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in cl.result_list %}
            <tr>
                <td>{{ booking.name }} - {{ booking.school_email }}</td>
                <td>
                    {% for guest in booking.guests.all %}
                        {{ guest.name }}<br>
                    {% endfor %}
                </td>
                <td>{{ booking.payment_due }}</td>
                <td>
                    <input type="checkbox" {% if booking.paid %}checked{% endif %}>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
