{% extends "admin/change_list.html" %}

{% block result_list %}
    <table class="model-list-table">
        <thead>
            <tr>
                <th>Booking Details</th>
                <th>Guests</th>
                <th>Alert Phone Number</th>
                <th>Pending Final</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in cl.result_list %}
                <tr>
                    <td>{{ obj.booking_details }}</td>
                    <td>{{ obj.guests }}</td>
                    <td>{{ obj.alert_phone_number }}</td>
                    <td>{{ obj.pending_final }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
